
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.Header{
   background-color:rgb(63, 63, 63);
    color: rgb(249, 248, 248);
    font-family: sans-serif;
    padding: 2px;
    text-align: center;
}
.Banner{
    background-color: rgb(167, 213, 235);
    padding: 25px;;
    height: auto;
    border-radius: 5px;
   
}

.Minu ul{
    list-style: none;
    background-color: black;
    color: whitesmoke;
    padding: 0%;
    margin:0%;
   overflow: hidden;
}
.Minu a{
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    padding:20px;
    display: block;
    text-align: center;

}
.Minu a:hover{
    background-color: grey;
    color: rgb(226, 177, 43);
}
.Minu li{
    float: left;
}
.SidLeft{
    width: 35%;
    padding: 5px;
    float: left;
}
.SidMit{
    width: 30%;
    padding: 5px;
    float: left;
}
.SidRight{
    width: 35%;
    padding: 5px;
    float: left;
}
.Foother{
    display: block;
    clear: both;
    background-color: rgb(69, 70, 70);
    color: white;
    text-align: center;
    padding: 10px;
}