body{
    background-color: rgb(173, 150, 195);
    font-family: 'Times New Roman', Times, serif;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    background-color: blue;
}