


*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
.Header{
    font-family:sans-serif;
    color: rgb(246, 246, 243);
    background-color: rgb(105, 105, 105);
    font-size: 60px;
}


.Minu ul{
    list-style: none;
    background-color: black;
    color: whitesmoke;
    padding: 0%;
    margin:0%;
   overflow: hidden;
}
.Minu a{
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    padding:20px;
    display: block;
    text-align: center;

}
.Minu a:hover{
    background-color: grey;
    color: rgb(226, 177, 43);
}
.Minu li{
    float: left;
}

.Head{
   font-weight: bold;
    background-color: blueviolet;
    color: whitesmoke;

}

.Branch1{
float: left;
width: 30%;
padding:5%;
}


.Branch2{
float: left;
width: 30%;
padding:5%;
 
}
.Branch3{
    float:left;
    width: 30%;
    padding:5%;
}

.Branch4{
    float:left;
    width: 30%;
    padding:5%;
   
}
.Branch5{
    float:left;
    width: 30%;
    padding:5%;
}
.Branch6{
    float:left;
    width: 30%;
    padding:5%;    
}

.Foother{
    display:block;
    clear: both;
    background-color: rgb(96, 96, 96);
    color: rgb(244, 242, 239);
    text-align: center;
    font-family: sans-serif;
    padding:20px;
}